body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow-x: hidden;
}
#container{
    width: 600px;
    height: 380px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 5.4em;
    top:-110px;
    z-index: 9;
    background-color: white;
}
.tabel{
    position: absolute;
    right: 350px;
    top:300px;
    z-index: 9;
    background-color: white;
    table-layout: auto;
    border-spacing: 5px;
    text-align: center;
}
label{
    position: relative;
    right: 150px;
    top:50px;
    line-height: 2;
    font-size: 20px;
}
input{
    position: relative;
    line-height: 2;
    top:20px;
    width: 250px;
    left: 60px;
}
#update{
    position: absolute;
     top:25em;
    left: 30em;
    width: 120px;
    height: 40px;
    cursor: pointer;
}
#reset{
  position: absolute;
  top:25em;
 left: 18em;
 width: 120px;
 height: 40px;
 cursor: pointer;
}
#icon{
    position: absolute;
    right: 5px;
    font-size: 30px;
    top:5px;
    cursor: pointer;
}
.fname,.fage,.fsal,.file{
    width: 400px;
    height: 50px;
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    right: 9em;
}
.fname input,.fage input,.fsal input{
    position: absolute;
    top:10px;
    left: 120px; 
}
#ffile{
  position: absolute;
  left: 6.3em;
  top:1em;
}
#form{
    display: flex;
    position: absolute;
    top:150px;
    left: 200px;
}
#add{
    width: 15em;
    height: 3em;
    position: relative;
    left: -80em;
    cursor: pointer;
    top: 6em;
}
#edit{
    color: red;

}
.tabel tr th{
    padding-top: 15px;
    vertical-align: start;
    font-size: 21px;
    
}
.tabel tr td{
    padding-top: 10px;
}
.text{
  position:relative;
  bottom:180px;
  right: 260px;
}
#title{
  color: red;
  position: absolute;
  z-index: 88;
  top:30px;
  text-align: center;
  left: 630px;
  font-size: 40px;
}
@media only screen and (max-width:700px){
    body{
      width: 100%;
      height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  #form{
    width:100%;
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   position: relative;
   top:5em;
   left:0%;
   height: 220px;
   z-index: 5;
  }
  .fname,.fsal,.fage,.file{
    position: relative;
    left:1em;
  }
  #fname,#fage,#fsal,#ffile{
    left: 35%;
  }
  #form input{
    width: 50%;
  }

  #title{
   text-align: center;
   position: absolute;
   left: 4em;
   text-wrap: nowrap;
    top: 10px;
    font-size: 1.5em;
  }
  .text{
    position: absolute;
   left: 4em;
   bottom: 150px;
   text-wrap: nowrap;
   z-index: 99;
   font-size: 1.5em;
    
  }
  /* #form #add{
    position:relative;
    left: 300px;
  } */
  #add{
    position: relative;
    left: 9em;
    height: 3em;
    width: 4em;
    top:0em;
   
  }
  .tabel{
    position:absolute;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 50px;
    position: absolute;
    left: 0.1em;
  
  
  }
  #table{
    position: absolute;
    width: 100%;
    /* top:50px;   */
  }
  #container{
    width: 340px;
    border: 1px solid black;
    display: flex;
    position:absolute;
    left: 0.3em;
    top:-150px;
    padding-left: 0.3em;
  }
  #container label{
    font-size:18px;
    padding-left: 80px;
  }
  #container input{
    position: relative;
    width: 180px;
    z-index: 9;
  }
  #container #reset{
    width: 90px;
    position: absolute;
    left: 9em;
    bottom:1em;
  }
  #container #update{
    width: 90px;
    position: absolute;
    left: 18em;
    bottom:1em;
  }
}